* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Higuen Serif";
  src: url("assets/font/Higuen_Serif.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  overflow-x: hidden;
}


body {
  transition: background 1.5s ease;
  
  background-color: #0F0F0F;
  background-image: url("assets/fond.svg");
  background-size: cover;
  /* Ajuster la taille de l'image de fond */
  background-position: center;
  /* Positionner l'image de fond au centre */
  background-repeat: no-repeat;
  /* Éviter la répétition de l'image de fond */
  color: #F5F5F5;
  position: relative;
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  
}

.projectDesc{
  font-weight: 200;
}

.categoryMenu {
  position: fixed;
  top: 0;
  left: 0;
width: fit-content;
  height: 50px;
  background-color: transparent;
  z-index: 100;
  padding: 50px;
}

.proposText{
  font-size: 15px;
}

.mainTitle {
  color: #ebebeb;
  font-family: "Higuen Serif", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;
  text-align: center;
}

.mainSubtitle {
  color: #ebebeb;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-bottom: 20px;
}

.mainLittleText {
  font-weight: 500;
  font-size: 15px;
}

ul {
  list-style: none;
}

.firstSection {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.secondSection {
  height: 100vh;

  display: flex;
  justify-content: center;


  align-items: center;
  flex-direction: column;
}

.aboutSection {
  min-height: 100vh;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 20px;
}

.aboutTitle {
  font-size: 3.5em;
  letter-spacing: 6px;
  font-weight: 600;
}

.aboutIntro {
  max-width: 800px;
  text-align: center;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
}

.hobbiesGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
}

.hobbyCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  padding-top: 20px;
  
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  transition: transform 0.3s ease, background 0.3s ease;
}

.hobbyCard:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.15);
}

.hobbyImageWrapper {
  position: relative;
  width: 100%;
  padding-top: 65%;
  border-radius: 0px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.12);
}

.hobbyImageWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hobbyImage {
  transition: opacity 0.6s ease;
}

.hobbyImage--bw {
  opacity: 1;
}

.hobbyImage--color {
  opacity: 0;
}

.hobbyCard:hover .hobbyImage--color {
  opacity: 1;
}

.hobbyCard:hover .hobbyImage--bw {
  opacity: 0;
}

.hobbyTitle {
  font-size: 1.4em;
  font-weight: 500;
}

.hobbyText {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
}

.thirdSection {
  height: 100vh;
  padding-right: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fourthSection {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15%;
}

.categoryMenu li {
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;
  width: fit-content;
  font-weight: 300;
  padding-right: 10px;
  padding-left: 16px;
  /* Espacement pour le rond */
  position: relative;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.categoryMenu li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: currentColor;
  transform: translateY(-50%) scale(0.4);
  opacity: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.categoryMenu li.active {
  font-weight: 700;
  /* Texte en gras */
}

.categoryMenu li.active::before {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}



.projectItem {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  transition: all 0.3s ease;
  /* Ajoutez cette ligne pour la transition fluide */
}

.projectItem:hover {
  cursor: pointer;
  transform: scale(1.02);
  /* Grossissement légèrement */
  color: rgb(233, 233, 233);
  /* Changement de couleur */
}

.proposTitle {
  font-family: "Higuen Serif", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 5em;
}

.parcoursTitle {
  font-family: "Higuen Serif", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 5em;
}

.projectTitle {
  font-family: "Higuen Serif", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 3em;
}

.proposBox {
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom:50px ;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: justify;
}

@media (min-width: 1600px) {
  .proposBox {
    padding-left: 400px;
    /* Nouveau padding gauche */
    padding-right: 400px;
    /* Nouveau padding droit */

  }
}

h2 {
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 20px;

  margin-left: 20px;
}

.contactText {
  font-size: 1.75em;
  font-weight: 100;
  /* margin-bottom: 40px; */
}

.contactText a {
  color: inherit;
  text-decoration: none;
}

.contactCliquable {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* Alignement horizontal à gauche (défaut) */
  position: relative;
}

.footer {
  background-color: #eaeaea;
  color: black;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}

.contactCliquable::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  /* Couleur de l'underline */
  transform: scaleX(0);
  /* Commence sans largeur (invisible) */
  transform-origin: left;
  transition: transform 0.3s ease;
  /* Transition de la largeur */
}

.contactCliquable:hover::before {
  transform: scaleX(1);
  /* Augmente la largeur pour simuler l'effet d'underline */
}

.contactDiviser {
  height: 40px;
}

.proposImg {
  height: 350px;
  border-radius: 0px;
}

.arrowIcon {
  height: 20px;
  padding-top: 5px;
  padding-left: 5px;
}

@media (max-width: 1200px) {
  .categoryMenu {
    display: none;
  }

  .mainTitle {
    font-size: 60px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .mainSubtitle {
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .mainLittleText {
    font-size: 10px;
  }

  .proposTitle {
    margin-top: 20%;
    margin-bottom: 10px;
    font-size: 3em;
  }

  .parcoursTitle {
    font-size: 3em;
    
  }

  .secondSection {
    justify-content: start;
    padding: 0 20px;
    min-height: 100vh;
    height: auto;
    text-align: left;
    align-items: flex-start;
    padding-bottom: 60px;
  }

  .aboutSection {
    padding: 80px 6% 60px 6%;
    gap: 30px;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: auto;
  }

  .aboutIntro {
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hobbiesGrid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .hobbyCard {
    padding: 0px;
  }

  .proposBox {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-bottom: 40px;
  }

  .proposImg {
    width: 100%;
    max-width: 100%;
    height: auto !important;
    margin-top: 20px;
    object-fit: contain;
    border-radius: 0px !important;
  }

  .projectItem {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .fourthSection {
    padding: 60px 20px 40px;
    align-items: center;
    text-align: center;
  }

  .contactCliquable {
    justify-content: center;
  }

  .contactText {
    font-size: 15px;
    text-align: center;
  }

  .aboutIntro {
    font-size: 15px;
  }

  p.hobbyText {
    font-size: 15px;
  }

  .projectTitle {
    margin-top: 10px ;
    font-size: 25px;
  }

  .projectDesc {
    font-size: 15px;
  }

  .thirdSection {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50vh;
  }

  .arrowIcon {
    height: 10px;
    padding-top: 5px;
    padding-left: 5px;
  }
}